# Python virtual environments
mujoco_env/
venv/
.venv/
env/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Operating System files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/
